@import '../../../breakpoints.scss';

.m-hero-wrapper {
  display: flex;
  justify-content: center;

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    margin-bottom: var(--spacer-m);
    display: flex;
    align-items: center;

    h1 {
      margin: var(--spacer-l) var(--spacer-xl);
    }

    .line {
      border-top: 1px solid var(--font-color-main);
      width: 100px;
    }
  }

  .subtitle {
    font-weight: 300;
    color: var(--font-color-darker)
  }

  .image {
    margin-top: var(--spacer-l);
    border-radius: calc(100% / 2);
    width: 50%;
  }

  @media screen and (max-width: $breakpoint-md) {
    .line {
      display: none;
    }

    .title h1 {
      margin: var(--spacer-xl) 0 0 0;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    .image {
      width: 60%;
    }
  }
}