body {
  --spacer-xxl: 5rem;
  --spacer-xl: 3.5rem;
  --spacer-l: 2.5rem;
  --spacer-m: 1.5rem;
  --spacer-s: 1rem;
  --spacer-xs: 0.5rem;
  --spacer-xxs: 0.25rem;

  --gray-dark: rgba(36, 36, 36, 1);

  --font-color-main: rgba(255, 255, 255, 0.87);
  --font-color-darker: rgba(255, 255, 255, 0.5);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--font-color-main);
  background-color: var(--gray-dark);
}

body {
  margin: 0;
  padding: var(--spacer-l);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
